<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="5.5.0" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="8.1.0.2" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Deployment" version="8.1.0.2" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Workflow" version="8.1.0.2" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="8.1.0.2" targetFramework="net452" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" targetFramework="net452" />
  <package id="xunit" version="2.0.0" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net452" />
  <package id="xunit.core" version="2.0.0" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net452" />
  <package id="xunit.runner.console" version="2.2.0" targetFramework="net452" />
  <package id="xunit.runner.visualstudio" version="2.2.0" targetFramework="net452" />
</packages>