<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="1.25.3" targetFramework="net40" />
  <package id="Microsoft.Crm.Sdk.Proxy.2011" version="5.0.18" targetFramework="net40" />
  <package id="Microsoft.Xrm.Client.2011" version="5.0.18" targetFramework="net40" />
  <package id="Microsoft.Xrm.Sdk.2011" version="5.0.18" targetFramework="net40" />
  <package id="Microsoft.Xrm.Sdk.Workflow.2011" version="5.0.18" targetFramework="net40" />
  <package id="OpenCover" version="4.6.519" targetFramework="net40" />
  <package id="ReportGenerator" version="2.4.5.0" targetFramework="net40" />
  <package id="xunit.runner.console" version="2.1.0" targetFramework="net40" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net40" />
</packages>