<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net40" xmlns="" />
  <package id="xunit.runner.utility" version="2.0.0" targetFramework="net40" xmlns="" />
</packages>