<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="4.9.2" targetFramework="net40" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="6.1.1" targetFramework="net4" />
  <package id="Microsoft.CrmSdk.Deployment" version="6.1.1" targetFramework="net40" />
  <package id="Microsoft.CrmSdk.Workflow" version="6.1.1" targetFramework="net4" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net4" />
  <package id="xunit" version="1.9.2" targetFramework="net40" />
  <package id="xunit.runner.console" version="2.4.1" targetFramework="net40" developmentDependency="true" />
  <package id="xunit.runner.visualstudio" version="2.4.1" targetFramework="net40" developmentDependency="true" />
</packages>