<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net452" />
  <package id="FakeItEasy" version="6.0.0" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="8.2.0.2" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Deployment" version="8.2.0.2" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Extensions" version="7.1.0.1" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Workflow" version="8.2.0.2" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="8.2.0.4" targetFramework="net452" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" targetFramework="net452" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net452" />
</packages>